<div class="d-flex align-items-center justify-content-center flex-row mt-4">


    <div class="d-flex flex-column align-items-center">
        <div class="bg-red rounded-circle d-flex bg-dark justify-content-center align-items-center info-stepper stepper-Itinerary-circle">
            <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid fa fa-calendar fa-2x text-light"></i>
            </div>
        </div>
        <div style="width:100%;text-align:center;margin-left:1rem;">
            <p>Your Itinerary</p>
        </div>
    </div>

    <div style="width:200px; height:5px; margin-right:-35px;" class="stepper-gray mb-5 stepper-Itinerary-bar">
    </div>

    <div class="d-flex flex-column align-items-center">
        <div class="bg-red rounded-circle d-flex stepper-gray justify-content-center align-items-center info-stepper stepper-Details-circle">
            <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid  fa fa-user fa-2x text-light "></i>
            </div>
        </div>
        <div style="width:100%;text-align:center;margin-left:1rem;">
            <p>Your Details</p>
        </div>
    </div>
    <div style="width:200px; height:5px; margin-right: -17px;" class="stepper-gray mb-5 stepper-Details-bar">
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="bg-red rounded-circle d-flex mt-lg-0 mt-xl-0 mt-md-0 mt-sm-2 mt-2 stepper-gray justify-content-center align-items-center ms-0 info-stepper stepper-Payment-circle">
            <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid  fa fa-check fa-2x text-light "></i>
            </div>

        </div>
        <div style="width:100%;text-align:center;margin-left:1rem;">
            <p>Payment</p>
        </div>
    </div>
</div>