<div class="d-flex align-items-center justify-content-center flex-row mt-4">

    <div class="d-flex flex-column align-items-center">
        <div class="bg-red rounded-circle d-flex bg-dark justify-content-center align-items-center info-stepper stepper-flights-circle">
            <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid  fa fa-plane fa-2x text-light" style="transform: rotate(310deg);"></i>
            </div>
        </div>
        <div style="width:100%;text-align:center;margin-left:1rem;">
            <p>Flights</p>
        </div>
    </div>
    <div style="width:200px; height:5px; margin-right:-35px;" class="stepper-gray mb-5 stepper-flights-bar">
    </div>

    <div class="d-flex flex-column align-items-center">
        <div class="bg-red rounded-circle d-flex stepper-gray justify-content-center align-items-center info-stepper stepper-hotels-circle">
            <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid  fa fa-bed fa-2x text-light "></i>
            </div>
        </div>
        <div style="width:100%;text-align:center;margin-left:2rem;">
            <p>Hotels</p>
        </div>
    </div>
    <div style="width:200px; height:5px; margin-right: -17px;" class="stepper-gray mb-5 stepper-hotels-bar">
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="bg-red rounded-circle d-flex mt-lg-0 mt-xl-0 mt-md-0 mt-sm-2 mt-2 stepper-gray justify-content-center align-items-center ms-0 info-stepper stepper-Extras-circle">
            <div class="d-flex align-items-center justify-content-center">
                <i class="fa-solid  fa fa-car fa-2x text-light "></i>
            </div>

        </div>
        <div>
            <p>Extras</p>
        </div>
    </div>
</div>