<div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog m-0">
        <div class="modal-content ms-5 w-90vw">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center image_width bg-dark ">
                        <img Card-Image="MadinahHotelDetailsImage" class="image_width" src="~/Images/hotels.jpeg" />
                    </div>
                    <div class="hoteldetails_card border-radius-20px mt-5">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex flex-row">
                                <div class="col-8">
                                    <div class="distance_card border-radius-20px mt-4 ms-4 d-flex flex-row">
                                        <div class="col-4">
                                            <img class="kaba_image" src="/Images/kaba image white.png" />
                                        </div>
                                        <div class="col-8 text-xl-center text-lg-center text-md-center mt-3 me-5">
                                            <p class="text-light m-0">Distance From AL-HARAM</p>
                                            <p id="MadinahHotelDetailsDistance" class="text-xl-start text-lg-start text-md-center text-sm-center fw-bold text-light">0.98km</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="mt-4">
                                        <i class="fa ms-5 fa-2x fa-bus mb-3 text-center"></i>
                                        <p>300 meters to public transportation</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="d-flex flex-row">
                                    <div class="col-4">
                                        <div class="mt-4">
                                            <i class="fa ms-5 fa-2x fa-car mb-3 text-center"></i>
                                            <p class="margin_left_1rem">Airport transfer</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-4">
                                            <i class="fa ms-5 fa-2x fa-dollar-sign mb-3 text-center"></i>
                                            <p>Currency exchange</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-4">
                                            <i class="fa ms-5 fa-2x fa-city mb-3 text-center"></i>
                                            <p class="margin_left_1rem">Heart of the city</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex flex-row mt-5">
                            <h2 id="MadinahHotelDetailsName">
                                Saja Al Madinah
                            </h2>
                            <div class="mt-2 ms-2">
                                <i class="fa  fa-star"></i>
                                <i class="fa  fa-star"></i>
                                <i class="fa  fa-star"></i>
                                <i class="fa  fa-star"></i>
                                <i class="fa  fa-star"></i>

                            </div>
                        </div>
                        <div class="mt-4">
                            <p class="m-0">Ibrahim Al Khalil St. Al Mesfala</p>
                            <a class="text-decoration-none fw-bold" href="#">View on Map </a>
                        </div>
                        <div class="mt-5 ms-4">
                            <p>Check-In Date : Thu 30 Nov 2023 | Check-Out Date : Sun 03 Dec 2023 | 1 Room(s)</p>
                        </div>
                        <div class="d-flex flex-row mt-5">
                            <h2>Room Choices</h2>
                            <p class="mt-3 ms-2">4 room types with 6 total room options available</p>
                        </div>
                    </div>

                    <div class="border border-dark booking_card_height mt-5">
                        <h2 class="mt-3 ms-3 mb-3">Standard Room</h2>
                        <div class="d-flex flex-xl-row flex-lg-row flex-md-column flex-sm-column flex-column">
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 ms-3">
                                <img Card-Image="MadinahHotelDetailsImage" class="image_size_adjust" src="" />
                                <div class="mt-3">
                                    <p>Air Conditioning</p>
                                    <p>House Keeping</p>
                                    <p>Bathroom</p>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 p-xl-0 p-lg-0 p-md-0 p-sm-4 p-4">
                                <div class="booking_hotel_card border border-3 border-success row">

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 border-end border-dark p-0">
                                        <div class="border-bottom border-dark">
                                            <p class="mt-2 ms-2 fs-20px">What Included</p>
                                        </div>

                                        <div class="mt-5 ms-4">
                                            <p class="fw-bold">Standard Room, double Bed</p>
                                            <p class="fw-bold">Bed and Breakfast BB</p>
                                            <p class="fw-bold">No Refundable</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 border-end border-dark p-0">
                                        <div class="border-bottom border-dark">
                                            <p class="mt-2 ms-2 fs-20px">Sleeps</p>
                                        </div>
                                        <div class="d-flex flex-row mt-5 justify-content-center">
                                            <p class="fw-bold">2 x </p>
                                            <i class="fa fa-2x fa-male ms-2"></i>
                                        </div>
                                        <div class="d-flex flex-row mt-3 justify-content-center">
                                            <p class="fw-bold">2 x </p>
                                            <i class="fa fa-2x fa-child ms-2"></i>
                                        </div>
                                    </div>


                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 border-end border-dark p-0">
                                        <div class="border-bottom border-dark">
                                            <p class="mt-2 ms-2 fs-20px">Price per night</p>
                                        </div>

                                        <div class="mt-5 text-center">
                                            <h3 id="MadinahHotelDetailsPrice" class="fw-bold">£75.56</h3>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6 p-0">

                                        <div class="border-bottom border-dark">
                                            <p class="ms-2 mt-2 fs-20px">What Included</p>
                                        </div>

                                        <div class="mt-5 text-center">
                                            <p>3 Nights</p>
                                        </div>
                                        <div class="mt-3 text-center">
                                            <h3 class="fw-bold">£226.68</h3>
                                        </div>
                                        <div class="mt-4 d-flex justify-content-center">
                                            <div class="OrangeBtn rounded-pill fw-bold  mb-3">
                                                <a style="text-decoration:none; font-size:1rem;" asp-action="Index" asp-controller="Transport" class="text-light">
                                                    <span class="RightArrowbtn2">
                                                        <i class="fa fa-chevron-right text-dark"></i>
                                                    </span>&nbsp;Book Now
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row mt-5 border-bottom border-dark">
                        <div class="col-3">

                            <div>
                                <i class="fa fa-3x ms-col-xl-4 ms-lg-4 ms-md-4 ms-sm-0 ms-0 mb-2 fa-city"></i>
                                <h2>An Overview</h2>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="ms-xl-0 ms-lg-0 ms-md-0 ms-sm-4 ms-4">
                                <p class="fw-bold">Dal Al Eiman Grand</p>
                            </div>
                            <div class="ms-xl-0 ms-lg-0 ms-md-0 ms-sm-4 ms-4">
                                <div>
                                    <p class="fw-bold m-0">Property Location</p>
                                    <p class="width-36rem">
                                        With a stay at Dar Al Eiman Grand in Mecca, you'll be within a 15-minute walk of Great Mosque of Mecca and Well of Zamzam.
                                        This 5-star hotel is 6.3 mi (10.1 km) from Kaaba and 4.1 mi (6.6 km) from Abraj Al-Bait Towers.
                                    </p>
                                </div>
                                <div>
                                    <p class="fw-bold m-0">Rooms</p>
                                    <p class="width-36rem">
                                        Make yourself at home in one of the 895 air-conditioned rooms featuring plasma televisions. Satellite television is provided for your entertainment.
                                        Private bathrooms with showers
                                        feature complimentary toiletries and bathrobes. Conveniences include safes and electric kettles, and housekeeping is provided daily.
                                    </p>
                                </div>
                                <div>
                                    <p class="fw-bold m-0">Dining</p>
                                    <p class="width-36rem">
                                        Enjoy international cuisine at Royal, one of the hotel's 4 restaurants,
                                        or stay in and take advantage of the 24-hour room service. Breakfast is available for a fee.
                                    </p>
                                </div>
                                <div>
                                    <p class="fw-bold m-0">Business, Other Amenities</p>
                                    <p class="width-36rem">
                                        Featured amenities include a 24-hour front desk, luggage storage, and an elevator.
                                        Self parking (subject to charges) is available onsite.
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>


                    <div class="row border-bottom border-dark">
                        <div class="col-3">
                            <div class="mt-5">
                                <p class="fw-bold">What they offer</p>
                            </div>
                        </div>
                        <div class="col-9">

                            <div class="services_card border-radius-20px mt-5">
                                <div class="d-flex flex-row">
                                    <div class="border-end border-dark">
                                        <i class="fa fa-2x mt-3 ms-2 me-3 fa-user"></i>
                                    </div>
                                    <div class="fs-20px ms-2">
                                        <p class="m-0 fw-bold">Services</p>
                                        <div>
                                            <ul class="d-inline-flex">
                                                <li>Surcharge</li>
                                                <li class="ms-5">Luggage Storage</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="services_card border-radius-20px mt-5 mb-5">
                                <div class="d-flex flex-row">
                                    <div class="border-end border-dark">
                                        <i class="fa fa-2x mt-3 ms-2 me-3 fa-wifi"></i>
                                    </div>
                                    <div class="fs-20px ms-2">
                                        <p class="m-0 fw-bold">Internet Access</p>
                                        <div>
                                            <ul class="d-inline-flex">
                                                <li>Free Wifi</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <div class="mt-5">
                                <p class="fw-bold">Some Helpful facts</p>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="mt-5">
                                <p class="fw-bold">Check-In/Check-Out</p>
                            </div>
                            <div class="d-flex flex-row">
                                <div>
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="ms-2">
                                    Check-in from: 04:00 PM
                                </div>
                            </div>
                            <div class="d-flex flex-row mt-3">
                                <div>
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="ms-2">
                                    Check-out from: 12:00 PM
                                </div>
                            </div>

                            <div>
                                <div class="mt-5">
                                    <p class="fw-bold m-0">Child Policy:</p>
                                    <p class="mt-3 width-36rem">
                                        2 Children under 6 stay free of charge using existing beds.
                                        Children aged between 6 and 12 years may be charged for pre-included meals at a discounted rate.
                                        All children under 16 years are charged per night for extra beds.
                                        Any additional older children or adults are charged per night for extra beds.
                                        The maximum number of extra beds in a room is 1 or 2 depending on room size and policy.
                                        Any type of extra bed is upon request and needs to be confirmed by management.
                                        Additional fees are not calculated automatically in the total cost and will have to be paid for separately during your stay.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
