<div class="container">
    <div class="row mt-3">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 d_card1">
            <div class="row">
                <div class="col-12 d_head">
                    <h5 style="color:#494B4E" class="my-3 mx-2">Nusuk Application Launch (previously Eatmarna)</h5>
                </div>
                <div class="col-12 bg-white">
                    <div class="row mt-3">
                        <div class="col-12">
                            <img class="d_img" src="~/Images/nusk_logo.jpg"/>
                        </div>
                    </div>
                    <div class="row mt-2 d_txt">
                        <div class="col-12 mt-2">
                            <p>What is the Nusuk application?</p>
                        </div>
                        <div class="col-12 my-2">
                            <p>The Nusuk app is a replacement of the Eatmarna app. The integrated and unified app facilitates pilgrims from around the world by facilitating the electronic issuance of their visas from the relevant digital portals.</p>
                        </div>
                        <div class="col-12 mb-2">
                            <p> The Nusuk App needs to be downloaded prior to travel to Umrah in KSA. The Nusuk Application can be downloaded on App Store and Google Play and the Application's primary use is to book Umrah Permits and especially booking Rawdah Permits for Women and Men.</p>
                        </div>
                        <div class="col-12 mb-2">
                            <p>The Ministry of Hajj and Umrah aims to provide pilgrims with a safe, smooth, hassle-free, and pleasant pilgrimage for all. The Nusuk app thus positions itself as an extension of the ministry’s continuous efforts to improve the quality of services provided to pilgrims using the latest technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-1 col-lg-1"></div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 my-md-3 my-sm-3 my-3 my-lg-0 my-xl-0">
            <div class="row">
            <div class="col-12 d_head2">
                <h5 style="color:white;" class="my-3 mx-2">Other Travel Updates</h5>
            </div>
            <div class="col-12 bg-white">
                    <div class="row mt-3 position-relative overflow-hidden">
                    <div class="col-12">
                        <div class="row position-absolute text-white txt_cards w-100">
                            <div class="col-8">
                                    <h5 class="mx-1 my-3">
                                        Visit Makkah
                                    </h5>
                            </div>
                            <div class="col-4">
                                    <a asp-action="CardsDetails" asp-controller="Home" class="text-decoration-none c_btns btn my-3">Learn More</a>

                            </div>

                        </div>
                            <img class="d_img2" src="~/Images/kabaimge.jpg" />

                        </div>
                        <div class="col-12 my-2">
                            <div class="row position-absolute text-white txt_cards w-100">
                                <div class="col-8">
                                    <h5 class="mx-1 my-3">
                                        Visit Madinah
                                    </h5>
                                </div>
                                <div class="col-4">
                                    <a asp-action="CardsDetails" asp-controller="Home" class="text-decoration-none c_btns btn my-3">Learn More</a>

                                </div>

                            </div>
                            <img class="d_img2" src="~/Images/madinah image.jpeg" />

                        </div>
                        <div class="col-12 my-2">
                            <div class="row position-absolute text-white txt_cards w-100">
                                <div class="col-8">
                                    <h5 class="mx-1 my-3">
                                        Visit Saudia
                                    </h5>
                                </div>
                                <div class="col-4">
                                    <a asp-action="CardsDetails" asp-controller="Home" class="text-decoration-none c_btns btn my-3">Learn More</a>

                                </div>

                            </div>
                            <img class="d_img2" src="~/Images/airline image.jpg" />

                        </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                <div class="d_btn btn my-3 ">All Travel Updates</div>
                        </div>
                    </div>
            </div>
        </div>
        </div>

    </div>
</div>
@section Scripts
{
    <link href="~/css/Card_Details.css" rel="stylesheet" />
}

