@* @model List<UmrahBooking.ViewModels.ApiMakkahHotels> *@
<partial name="..\Partials\_ChooseStepper"></partial>
<div class="container-fluid m-0 p-0">
    <div class="row overflow-hidden">

        <div class="div border_radius">
            <div class="text-light fw-bold d-flex flex-row">
                <div class="mt-2 me-3">
                    <p>
                        Choose Makkah Hotel
                    </p>
                </div>

                <div class="mt-1">
                    <span class="RightArrowbtn2">
                        <i class="fa fa-check text-dark"></i>
                    </span>
                </div>
            </div>
            <div class="arrow">
                <i class="fas fa-3x fa-long-arrow-alt-right"></i>
            </div>

        </div>

        <div class="div margin_top border_radius">
            <div class="text-light fw-bold d-flex flex-row">
                <div class="mt-2 me-3 ">
                    <p class="text_size">
                        Choose Madinah Hotel
                    </p>
                </div>

                <div class="mt-1">
                    <span class="RightArrowbtn2">
                        <i class="fa fa-plus text-dark"></i>
                    </span>
                </div>
            </div>

        </div>

    </div>
    <div class="div1 d-md-none d-sm-none d-none d-xl-flex d-lg-flex">
        <div class="d-flex flex-row">
            <div class="pt-2 ms-5">
                <div class="input-group ms-5">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    <input id="MadinahHotelsSearchbar" type="text" class="form-control" placeholder="Search Hotel">
                </div>
            </div>
            @* <div class="pt-2 ms-5">
                <div class="input-group ms-5">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-calendar"></i></span>
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="pt-2 ms-5">
                <div class="input-group ms-5">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="2 Adults" data-bs-toggle="modal" data-bs-target="#exampleModal">
                </div>
            </div> *@
            @* <div class="ms-5 pt-2" style="cursor:pointer;">
                <div class="whiteBtn rounded-pill ms-5 fw-bold">
                    <a style="text-decoration:none;" class="text-light">
                        <span class="RightArrowbtn">
                            <i class="fa fa-chevron-right text-light"></i>
                        </span>
                        <span class="text-dark">
                            Search
                        </span>
                    </a>
                </div>

            </div> *@


        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
            <div class="mx-auto d-md-flex justify-content-md-center accordion_center">
                <div class="div_container">
                    <div style="border-bottom: 1px solid;">
                        <p class="text-center pt-2 text-danger fw-bold">Search Filters</p>
                    </div>
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Journey
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordian_body">
                                    <div>
                                        <div class="d-flex mt-2" style="margin-left:1rem;">
                                            <input class="me-2" type="checkbox"><p style="font-size:small;">&nbsp;Airport to Hotel(JED-MAK)</p>
                                        </div>
                                        <div class="d-flex mt-2" style="margin-left:1rem;">
                                            <input class="me-2" type="checkbox"><p style="font-size: small;">&nbsp;Madinah Hotel to Airport(Med-Med)</p>
                                        </div>
                                        <div class="d-flex mt-2" style="margin-left:1rem;">
                                            <input class="me-2" type="checkbox"><p style="font-size: small;">&nbsp;Madinah to Madinah(MAK-MED)</p>
                                        </div>
                                        <div class="d-flex mt-2" style="margin-left:1rem;">
                                            <input class="me-2" type="checkbox"><p class="fw-bold mb-4">&nbsp;Full Round Transport</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    Visit Historical Places
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordian-body">
                                    <div class="mt-3">
                                        <div class="d-flex mt-2" style="margin-left:1rem;">
                                            <input class="me-2" type="checkbox"><p class="fw-bold mb-4">&nbsp;Ziyaara in Madinah</p>
                                        </div>
                                        <div class="d-flex mt-2" style="margin-left:1rem;">
                                            <input class="me-2" type="checkbox"><p class="fw-bold mb-4">&nbsp;Ziyaara In Madinah</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="MadinahHotelsCards" class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">

            <div class="fw-bold text-light">
                <p>You Searched for : Madinah</p>
            </div>
            <div>
                <div class="details row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="ms-2">
                            <p class="m-0 fw-bold">Total Hotels:&nbsp;<span class="fw-bold" id="TotalMadinahHotels">15</span></p>
                            <p class="fw-bold" id="MadinahHotelsSortedBy">Sorted By Price (Lowest Price)</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="d-flex flex-row ms-4 mt-3">

                            <p class="fw-bold">Sort By</p>
                            <select class="ms-3 price_dropdown" id="dropdown">
                                <option value="small-first">Price (Lowest)</option>
                                <option value="large-first">Price (Highest)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            @* @await Html.PartialAsync("Partials\\_HotelCard", Model) *@

        </div>
    </div>
</div>


<partial name="..\Partials\_hoteldetailsmadinah.cshtml"></partial>
@section Scripts
{
    <link href="~/css/madinahhotel.css" rel="stylesheet" />
    <script src="~/js/Hotels/MadinahHotels.js" asp-append-version="true"></script>
}