<partial name="..\Partials\_BookingStepper"></partial>
<div class="container-fluid">
    <div class="row">

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">


            <div class="card mt-4 mx-auto">
                <div class="contact_details">
                    <div class="mt-2 ms-3 fw-bold">
                        <p>Adult 1 Details</p>
                    </div>
                </div>
                <div class="row mt-3 w-100">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6">
                        <label class="form-label ms-2">Title</label>
                        <input type="text" class="form-control input_fields ms-2 w-sm-50" placeholder="Mr/Mrs." />
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control input_fields w-sm-50" placeholder="first name" />
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6">
                        <label class="form-label">Middle Name</label>
                        <input type="text" class="form-control input_fields w-sm-50" placeholder="middle name" />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control input_fields me-3 w-sm-50" placeholder="last name" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-11 ms-2">
                        <div class="row">
                            <div class=" col-md-4 col-lg-4 col-xl-4 col-sm-4 col-6">
                                <label class="form-label">Date Of Birth</label>
                                <input type="text" class="form-control input_fields" placeholder="date" />
                            </div>
                            <div class="pt-2 col-md-4 col-lg-4 col-xl-4 col-sm-4 col-5">
                                <div class="d-flex flex-row gap-4">
                                    <input type="text" class="form-control input_fields mt-4" placeholder="day" />
                                </div>
                            </div>
                            <div class="pt-2 col-md-4 col-lg-4 col-xl-4 col-sm-4 col-6">
                                <div class="d-flex flex-row gap-4">
                                    <input type="text" class="form-control input_fields mt-4" placeholder="year" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-9 ms-2">
                        <label class="form-label">Nationality</label>
                        <input type="text" class="form-control input_fields me-3" placeholder="nationality" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 row" style="margin-left:0px;">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
                            <label class="form-label">Types of  Identification</label>
                            <input type="text" class="form-control input_fields me-3" placeholder="last name" />
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
                            <label class="form-label">ID Number</label>
                            <input type="text" class="form-control input_fields me-3" placeholder="last name" />
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-11 ms-2">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                <label class="form-label">Password Expiry</label>
                                <input type="text" class="form-control input_fields" placeholder="date" />
                            </div>
                            <div class="pt-2 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5">
                                <div class="d-flex flex-row gap-4">
                                    <input type="text" class="form-control input_fields mt-4" placeholder="day" />
                                </div>


                            </div>
                            <div class="pt-2 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                <div class="d-flex flex-row gap-4">
                                    <input type="text" class="form-control input_fields mt-4" placeholder="year" />
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-8 ms-2">
                        <label class="form-label">Issuing Country</label>
                        <input type="text" class="form-control me-3 input_fields" placeholder="issuing country" />
                    </div>
                </div>

                <div class="mt-4">
                    <div class="d-flex mt-2" style="margin-left:1rem;">
                        <input class="me-2" type="checkbox"><p class="fw-bold mb-4">&nbsp;Apply for Tourist Visa</p>
                    </div>
                </div>
            </div>



            <div class="contact_details_card mx-auto mt-5 w-sm-75">
                <div class="contact_details">
                    <div class="mt-3 ms-3 fw-bold">
                        <p>Contact Details</p>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 row" style="margin-left:0px;">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
                            <label class="form-label">Country Code</label>
                            <input type="text" class="form-control input_fields me-3" placeholder="country code" />
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-10">
                            <label class="form-label">Mobile Number</label>
                            <input type="text" class="form-control input_fields me-3" placeholder="mobile number" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-3 mt-lg-5 mt-xl-0 mt-md-5 mt-5 faresummarycard">
            <div class="bg-light pb-2" style="width:13rem;border-radius:2rem;">
                <h5 class="text-danger fw-bold text-center mt-3">Fare Summary</h5>

                <div class="mt-3" style="border:1px solid black;">
                </div>

                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-start">
                        <b class="me-5">Flights</b>
                        <p class="fs-12px">MUX ->  JED 27/10/2023</p>
                        <p class="fs-12px">MED ->  MUX 22/11/2023</p>
                    </div>
                </div>

                <div class="mt-3" style="border:1px solid black;">
                </div>

                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-start">
                        <b class="me-5">Hotels</b>
                        <p class="fs-12px">Le Meridien Makkah</p>
                        <p class="fs-12px">27/10/2023 - 18/11/2023</p>
                        <p class="fs-12px">1 Room : 22 Nights</p>
                        <p class="fs-12px">Sajah Al Madinah</p>
                        <p class="fs-12px">18/11/2023 - 22/11/2023</p>
                        <p class="fs-12px">1 Room : 4 Nights</p>
                    </div>
                </div>

                <div class="mt-3" style="border:1px solid black;">
                </div>

                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column justify-content-start">
                        <b class="me-5">Transport</b>
                        <p class="fs-12px">No of Vehicals : 1</p>
                        <p class="fs-12px">Car - 4 Seater</p>
                        <p class="fs-12px">Full Round Transport</p>
                        <p class="fs-12px">Ziyaarah In Makkah</p>
                        <p class="fs-12px">Ziyaarah In Madina</p>
                    </div>
                </div>

                <div class="mt-3" style="border:1px solid black;">
                </div>

                <div class="d-flex flex-row fs-12px w-100">
                    <div class="d-flex flex-row m-0 w-100 justify-content-around">
                        <p class="col-6 d-flex justify-content-center">
                            &nbsp;  Flight
                        </p>
                        <b class="col-6 d-flex justify-content-center">
                            £866.00
                        </b>
                    </div>
                </div>
                <div class="d-flex flex-row fs-12px w-100" style="margin-top:-1rem !important;">
                    <div class="d-flex flex-row m-0 w-100 justify-content-around">
                        <p class="col-6 d-flex justify-content-center">
                            &nbsp;  Makkah Hotel
                        </p>
                        <b class="col-6 d-flex justify-content-center">
                            £3429.79
                        </b>
                    </div>
                </div>

                <div class="d-flex flex-row fs-12px w-100" style="margin-top:-1rem !important;">
                    <div class="d-flex flex-row m-0 w-100 justify-content-around">
                        <p class="col-6 d-flex justify-content-center">
                            &nbsp; Madinah Hotel
                        </p>
                        <b class="col-6 d-flex justify-content-center">
                            £438.13
                        </b>
                    </div>
                </div>

                <div class="d-flex flex-row fs-12px w-100" style="margin-top:-1rem !important;">
                    <div class="d-flex flex-row m-0 w-100 justify-content-around">
                        <p class="col-6 d-flex justify-content-center">
                            Transport
                        </p>
                        <b class="col-6 d-flex justify-content-center ">
                            £620.00
                        </b>
                    </div>
                </div>


                <div class="mt-3" style="border:1px solid black;">
                </div>

                <div class="d-flex flex-row justify-content-end">
                    <div>
                        <span>Total Price</span>
                        <p class="text-danger fw-bold">£3429.79</p>
                    </div>
                </div>

                <div class="mt-3" style="border:1px solid black;">
                </div>

                <div>
                    <p class="text-center fs-12px">Average price per person:</p>
                </div>

                <div class="mt-3" style="border:1px solid black;">
                </div>


                <div class="roundedbtn h-3rem rounded-pill fw-bold mt-5" style="margin:0px !important;margin-left:1.2rem !important;margin-bottom:auto.5rem!important;">
                    <a style="text-decoration:none;" class="text-light" asp-action="Index" asp-controller="Payment">
                        <span class="RightArrowbtn2">
                            <i class="fa fa-chevron-right text-dark"></i>
                        </span><span class="fs-xs-16px">&nbsp;Continue</span>
                    </a>
                </div>


            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-sm-center margin_button">
        <div class="Btn_black rounded-pill fw-bold mt-5" style="margin-bottom:3rem;">
            <a style="text-decoration:none;" asp-action="Index" asp-controller="Visa" class="text-light">
                <span class="RightArrowbtn2">
                    <i class="fa fa-chevron-right text-dark"></i>
                </span>&nbsp;Back
            </a>
        </div>
        <div class="OrangeBtn rounded-pill fw-bold mt-5" style="margin-bottom:3rem;">
            <a style="text-decoration:none;" asp-action="Index" asp-controller="Payment" class="text-light">
                <span class="RightArrowbtn2">
                    <i class="fa fa-chevron-right text-dark"></i>
                </span>&nbsp;Next
            </a>
        </div>
    </div>
</div>

@section Scripts
    {
    <link href="~/css/details.css" rel="stylesheet" />
}


